body {
  margin: 0;
  background-color: #000;
}
body, div, p, a, canvas {
	-moz-user-select: none; 
	-khtml-user-select: none; 
	-webkit-user-select: none; 
	-o-user-select: none; 
}
.absolute-center {
  position: absolute;
  margin: auto;
  left: 0; right: 0; top: 0; bottom: 0;
}